<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码找回</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
	<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>

	<div style="width:50%;margin:50px auto">
		<div style="float:left">
			<img src="/img/gif/IMG_7396.GIF" style="height:360px;width:300px;border-radius:10px">
		</div>
		<!--找回密码信息-->
		<div style="margin:10px auto;width:50%;float:right;">
				<form action="/find_pwd/" method="post">
				<div class="form-group">
					<label for="exampleInputEmail1">用户名</label>
					<input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword2">手机号</label>
					<input type="text" name="phone" class="form-control" id="exampleInputPassword2">
				</div>
                <div class="form-group">
					<label for="exampleInputPassword3">验证码</label>
					<input type="text" name="code" class="form-control" id="exampleInputPassword3">
				</div>
				<div class="form-group form-check">
					<label class="form-check-label"><font color="red"> {{msg}}</font></label>
				</div>
				<button class="btn btn-primary" style="width:50%">发送验证码</button>
                &nbsp&nbsp&nbsp&nbsp
				<button type="submit" name="send" class="btn btn-primary" style="width:42%">确定</button>
			</form>
		</div>
	</div>

</body>
</html>